<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.zjlc">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ZJLCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".login.Register" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".login.Login" />
        <activity android:name=".login.Register" />
        <activity android:name=".login.ForgetPwd" />
        <activity android:name=".approve.Approve" />
        <activity android:name=".approve.ApproveName" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".bank.AddCard" />
        <activity android:name=".bank.AreaChoose" />
        <activity android:name=".bank.BankChoose" />
        <activity android:name=".bank.CityChoose" />
        <activity android:name=".userMessage.UserMessage" />
        <activity android:name=".userMessage.UserDetail" />
        <activity android:name=".userMessage.UserPwdSafe" />
        <activity android:name=".userMessage.UserAbout" />
        <activity android:name=".userMessage.TradePwdSetting"></activity>
    </application>

</manifest>